#include "BroodQwe.def"

IDI_ICON ICON "BroodQwe.ico"

IDI_DIALOG DIALOGEX 0, 0, 0, 0 
STYLE WS_POPUP | WS_DISABLED
EXSTYLE WS_EX_NOACTIVATE | WS_EX_TOOLWINDOW
BEGIN END

IDI_DATA RCDATA "..\Out\BroodQwe.bin"